# Student Loan Risk with Deep Learning

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from pathlib import Path

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student-loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [2]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/ai/ail-v-1-0/m18/lms/datasets/student-loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
loans_df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [3]:
# Review the data types associated with the columns
loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

In [4]:
# Check the credit_ranking value counts
loans_df["credit_ranking"].value_counts()

credit_ranking
1    855
0    744
Name: count, dtype: int64

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [28]:
# Define the target set y using the credit_ranking column
y = loans_df['credit_ranking'].values

# Display a sample of y
y[:5]

array([0, 0, 0, 1, 0], dtype=int64)

In [6]:
# Define features set X by selecting all columns but credit_ranking
X = loans_df.drop(columns='credit_ranking')

# Review the features DataFrame
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [29]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [30]:
# Create a StandardScaler instance
ss = StandardScaler()

# Fit the scaler to the features training dataset
X_train_scaled = ss.fit_transform(X_train)
X_test_scaled = ss.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [31]:
nnm = Sequential()
# Define the number of hidden nodes for the first hidden layer
nnm.add(Dense(units=6, input_dim=len(X.columns), activation='relu'))

# Define the number of hidden nodes for the second hidden layer
nnm.add(Dense(units=3, activation='relu'))

# Define the number of neurons in the output layer
nnm.add(Dense(units=1, activation='sigmoid'))

In [32]:
# Display the Sequential model summary
nnm.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 6)                 72

 dense_4 (Dense)             (None, 3)                 21

 dense_5 (Dense)             (None, 1)                 4

=================================================================
Total params: 97 (388.00 Byte)
Trainable params: 97 (388.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [33]:
# Compile the Sequential model
nnm.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [34]:
# Fit the model using 50 epochs and the training data
m_fit = nnm.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
38/38 [==============================] - 0s 814us/step - loss: 0.8151 - accuracy: 0.5213
Epoch 2/50
38/38 [==============================] - 0s 806us/step - loss: 0.7357 - accuracy: 0.5329
Epoch 3/50
38/38 [==============================] - 0s 784us/step - loss: 0.6935 - accuracy: 0.5696
Epoch 4/50
38/38 [==============================] - 0s 684us/step - loss: 0.6680 - accuracy: 0.6080
Epoch 5/50
38/38 [==============================] - 0s 707us/step - loss: 0.6512 - accuracy: 0.6414
Epoch 6/50
38/38 [==============================] - 0s 762us/step - loss: 0.6397 - accuracy: 0.6522
Epoch 7/50
38/38 [==============================] - 0s 755us/step - loss: 0.6294 - accuracy: 0.6647
Epoch 8/50
38/38 [==============================] - 0s 695us/step - loss: 0.6192 - accuracy: 0.6756
Epoch 9/50
38/38 [==============================] - 0s 727us/step - loss: 0.6092 - accuracy: 0.6856
Epoch 10/50
38/38 [==============================] - 0s 757us/step - loss: 0.5987 - accuracy: 0.6981
Epoch 11/50
38/38 [==============================] - 0s 734us/step - loss: 0.5879 - accuracy: 0.7089
Epoch 12/50
38/38 [==============================] - 0s 719us/step - loss: 0.5781 - accuracy: 0.7148
Epoch 13/50
38/38 [==============================] - 0s 737us/step - loss: 0.5685 - accuracy: 0.7198
Epoch 14/50
38/38 [==============================] - 0s 803us/step - loss: 0.5599 - accuracy: 0.7214
Epoch 15/50
38/38 [==============================] - 0s 811us/step - loss: 0.5524 - accuracy: 0.7248
Epoch 16/50
38/38 [==============================] - 0s 834us/step - loss: 0.5460 - accuracy: 0.7281
Epoch 17/50
38/38 [==============================] - 0s 879us/step - loss: 0.5406 - accuracy: 0.7281
Epoch 18/50
38/38 [==============================] - 0s 749us/step - loss: 0.5360 - accuracy: 0.7306
Epoch 19/50
38/38 [==============================] - 0s 740us/step - loss: 0.5324 - accuracy: 0.7364
Epoch 20/50
38/38 [==============================] - 0s 750us/step - loss: 0.5291 - accuracy: 0.7306
Epoch 21/50
38/38 [==============================] - 0s 744us/step - loss: 0.5267 - accuracy: 0.7339
Epoch 22/50
38/38 [==============================] - 0s 893us/step - loss: 0.5239 - accuracy: 0.7406
Epoch 23/50
38/38 [==============================] - 0s 783us/step - loss: 0.5214 - accuracy: 0.7406
Epoch 24/50
38/38 [==============================] - 0s 777us/step - loss: 0.5192 - accuracy: 0.7398
Epoch 25/50
38/38 [==============================] - 0s 736us/step - loss: 0.5175 - accuracy: 0.7456
Epoch 26/50
38/38 [==============================] - 0s 746us/step - loss: 0.5156 - accuracy: 0.7415
Epoch 27/50
38/38 [==============================] - 0s 696us/step - loss: 0.5141 - accuracy: 0.7465
Epoch 28/50
38/38 [==============================] - 0s 763us/step - loss: 0.5129 - accuracy: 0.7465
Epoch 29/50
38/38 [==============================] - 0s 724us/step - loss: 0.5114 - accuracy: 0.7456
Epoch 30/50
38/38 [==============================] - 0s 707us/step - loss: 0.5107 - accuracy: 0.7448
Epoch 31/50
38/38 [==============================] - 0s 923us/step - loss: 0.5093 - accuracy: 0.7481
Epoch 32/50
38/38 [==============================] - 0s 857us/step - loss: 0.5084 - accuracy: 0.7481
Epoch 33/50
38/38 [==============================] - 0s 810us/step - loss: 0.5074 - accuracy: 0.7498
Epoch 34/50
38/38 [==============================] - 0s 773us/step - loss: 0.5065 - accuracy: 0.7506
Epoch 35/50
38/38 [==============================] - 0s 777us/step - loss: 0.5056 - accuracy: 0.7540
Epoch 36/50
38/38 [==============================] - 0s 725us/step - loss: 0.5048 - accuracy: 0.7581
Epoch 37/50
38/38 [==============================] - 0s 772us/step - loss: 0.5041 - accuracy: 0.7565
Epoch 38/50
38/38 [==============================] - 0s 789us/step - loss: 0.5033 - accuracy: 0.7581
Epoch 39/50
38/38 [==============================] - 0s 777us/step - loss: 0.5026 - accuracy: 0.7581
Epoch 40/50
38/38 [==============================] - 0s 698us/step - loss: 0.5025 - accuracy: 0.7565
Epoch 41/50
38/38 [==============================] - 0s 760us/step - loss: 0.5011 - accuracy: 0.7598
Epoch 42/50
38/38 [==============================] - 0s 720us/step - loss: 0.5004 - accuracy: 0.7581
Epoch 43/50
38/38 [==============================] - 0s 732us/step - loss: 0.4997 - accuracy: 0.7615
Epoch 44/50
38/38 [==============================] - 0s 761us/step - loss: 0.4986 - accuracy: 0.7598
Epoch 45/50
38/38 [==============================] - 0s 811us/step - loss: 0.4983 - accuracy: 0.7598
Epoch 46/50
38/38 [==============================] - 0s 717us/step - loss: 0.4973 - accuracy: 0.7606
Epoch 47/50
38/38 [==============================] - 0s 718us/step - loss: 0.4971 - accuracy: 0.7590
Epoch 48/50
38/38 [==============================] - 0s 855us/step - loss: 0.4962 - accuracy: 0.7631
Epoch 49/50
38/38 [==============================] - 0s 728us/step - loss: 0.4956 - accuracy: 0.7606
Epoch 50/50
38/38 [==============================] - 0s 717us/step - loss: 0.4955 - accuracy: 0.7573

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [35]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
loss, accuracy = nnm.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {loss}, Accuracy: {accuracy}")

13/13 [==============================] - 0s 874us/step - loss: 0.4969 - accuracy: 0.7425
Loss: 0.49691712856292725, Accuracy: 0.7425000071525574

### Step 4: Save and export your model to a keras file, and name the file `student_loans.keras`.

In [36]:
# Set the model's file path

# Export your model to a keras file
nnm.save('student_loans.keras')

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [37]:
# Set the model's file path


# Load the model to a new object
model = tf.keras.models.load_model('student_loans.keras')

### Step 2: Make predictions on the testing data and save the predictions to a DataFrame.

In [44]:
# Make predictions with the test data
pred = model.predict(X_test_scaled)

# Display a sample of the predictions
pred[:5]

13/13 [==============================] - 0s 710us/step

array([[0.54121524],
       [0.30458805],
       [0.8737609 ],
       [0.73139673],
       [0.96806896]], dtype=float32)

In [45]:
# Save the predictions to a DataFrame and round the predictions to binary results
import numpy as np
pred = [round(x) for x in np.ravel(pred)]
df = pd.DataFrame({'predictions': pred})
df

     predictions
0              1
1              0
2              1
3              1
4              1
..           ...
395            1
396            0
397            1
398            0
399            1

[400 rows x 1 columns]

### Step 4: Display a classification report with the y test data and predictions

In [50]:
# Print the classification report with the y test data and predictions
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.70      0.78      0.74       188
           1       0.79      0.71      0.74       212

    accuracy                           0.74       400
   macro avg       0.74      0.74      0.74       400
weighted avg       0.75      0.74      0.74       400

---
## Discuss creating a recommendation system for student loans

Briefly answer the following questions in the space provided:

1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.

2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.

3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.

**1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.**


**2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.**


**3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.**